.timer {
}

.timer-message {
  font-size: 16px;
  margin-bottom: 1em;
}

.timer-button {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.25s;
}

.timer-button.disabled {
  opacity: 0;
  pointer-events: none;
}

.loaders {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes second {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animation-rotate {
  transform-origin: center;
  animation: rotate 4s linear infinite;
}

.loader-second circle {
  transform-origin: center;
  animation: second 1s linear infinite;
}

.loader-second path {
  transform-origin: center;
  animation: rotate 4s linear infinite;
}
